*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 13;
    background: #f8f8f8;
}
.header {
    width: 95%;
    margin: 10px auto 0px;
    color: white;
    background: #5f9ea0;
    text-align: center;
    border: 1px solid #b0c4de;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    box-shadow: #a94442;

}
form, .content {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 83%;
    border: 1px solid #b0c4de;
    background: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
}
.input-group {
    margin: 10px 0px 10px 0px ;
}
.input-group label{
    display: block;
    text-align: left;
    margin: 3px;
}
.bth {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5f9ea0;
    border-radius: 5px;
}
.error{
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #3c763d;
    background: #dff9d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}
.g1{
    padding-left: 30%;
    padding-top: 5px;
    width: max-content;

    
}

.g2{
    border: 1px solid #a94442;
    padding-top: 5px;
    width: max-content;

}
