.HOMEPAGE {
background-color: antiquewhite;
border-style: outset;
padding-left: 50%;
padding-top: 20px;
padding-bottom: 20px;
}
.ICONF1{
    margin-top: 15px;

}
.ICONF2{

}
.ICONF3{

}
.ICONF4{

}
.ICONF5{

}